#vozaoLog{
    height: 6vh !important;

}
.cards{
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
#search{
    color: black;
}
#button1{
   background-color: #ffffff !important;
      color: #fff !important;
      padding: 10px 20px !important;
      border: none !important;
       border-radius: 5px !important;
       cursor: pointer !important;    
        transition: all 0.3s ease !important; 
}
#button1:hover{
     background-color: #c7c7c7 !important;
     transform: scale(1.1) !important; 
     
}
.buttons2{
    background-color: #000000 !important;
      color: #ffffff !important;
      padding: 10px 20px !important;
    text-decoration: none !important; 
       border-radius: 5px !important;
       cursor: pointer !important;    
        transition: all 0.3s ease !important;  
}
.buttons2:hover{
    background-color: #999999 !important;
     transform: scale(1.1) !important; 
}
.page-link{
    color: #ffffff !important;
    background-color: #000000 !important;
    
}
.pagination{
    display: flex !important;
    justify-content: end!important;
   
}
.page-link:hover{
     background-color: #999999 !important;
     transform: scale(1.1) !important; 
     
}
#form1{
    width: 50vw;
    margin-left:25%;
}
#formButton{
    background-color: #000000 !important;
    border: #000000;
}
#formButton:hover{
     background-color: #999999 !important;
     transform: scale(1.1) !important; 
}
#vozao{
    margin-left: 25%;
font-weight: bold;
 
}
#penultimaDiv{
    display: flex;
    margin-top: 5%;
}
#emojis{
   display: flex;
  font-size: 25px;
  margin-left: 55%;
  color: #000000;
  gap: 10px;
   
}
#ultimaLog{
    margin-left: 10%;
}
#fourCaixas{
    display: flex;
    justify-content: space-around;
}
#Institucional{
    display: flex;
    flex-direction: column;
}
#fourCaixas a{
text-decoration: none;
color: #000000;
 
}
#Central{
    display: flex;
    flex-direction: column;
}
#Políticas{
    display: flex;
    flex-direction: column;
}
#pagamentoSegurança{
    display: flex;
    flex-direction: column;
}
.pagSEG{
  width: 20vw;
}
#p{
    text-align: center;
   
}
#lastImg{
    text-align: center;
}





